html, body {
  height: 100%;
  margin: 0;
}

#game {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Button stays on top */
#ui-layer {
  padding: 10px;
  text-align: center;
  background: #fff;
  z-index: 10;
}

/* Pano becomes the positioning parent */
#pano {
  flex: 1;
  position: relative;
}

/* Map overlaps pano */
#map-container {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 500px;
  height: 500px; /* square */

  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
  overflow: hidden;
  z-index: 20;

  transform: scale(0.5);               /* visually 250x250 */
  transform-origin: bottom right;      /* anchor corner */
  transition: transform 0.25s ease;
}

#map-container:hover {
  transform: scale(1); /* full 500x500 */
}

#map {
  width: 100%;
  height: 100%;
}

/* Popup overlay */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /*background: rgba(0, 0, 0, 0.45);*/
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}


/* Popup box */
.popup {
  background: #fff;
  padding: 28px 36px;
  border-radius: 14px;
  min-width: 300px;
  max-width: 90%;
  text-align: center;

  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
}

/* Text styling */
.popup-title {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

.popup-text {
  display: block;
  font-size: 18px;
  margin-bottom: 24px;
}

.popup-small-text {
  font-size: 14px;
}

/* Button */
.popup-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  background: #007bff;
  color: white;
}

.popup-tips {
  z-index: 1;
}
#tips-text {
  text-align:left;
}

#closeResults:hover {
  background: #0056b3;
}

#map-result {
  width:250px;
  height:250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#selectedLocationDisplay {
  font-weight: bold;
}

/* Hidden helper */
.hidden {
  display: none;
  pointer-events: none;
}
